body{

	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	margin: 0 auto;
}
h1{
    font-weight: 100;
    font-size: 38px;
    line-height: 1.1em;
    margin-bottom: 0.2em;
}
.comverse-header{
    height: 80px;
    width: 100%;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
}
.header{
	margin-left: 140px;

}
.mobile-navigation{
    display: none;
}

.mobile-search-textbox{
    display: none;
}

.mobile-search{
    color: transparent;
    display: none;
}
.hidden{
    display: none !important;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    height: 100%;
}
.tags > li > a:hover{
	color:#e5e5e5;
}
a{
	text-decoration: none;
	color: black;
}
.nav-side > select{
	border: none;
}
nav ul{
	list-style-type: none;
	display: inline-flex;
	
}
.tags > li 
{

    margin: 0px 10px 0px 10px;
}
figcaption{
	color: white;

}
figure{
    width: 92px;
}
.tags > li > a{

	font-size: 14px;
}
.headernavigator
{
	display: inline;
}
.form-container{

    position: absolute;
    margin-top:9px;
    margin-left: 1%;
    display: inline-block;
    float: right;
    padding-left: 0px;
    padding-right:-10px;
    border-radius: 5px;
    border: 1px solid;
    border-color:  #CCC;
}
.form-container input{
       
    width: 107px;
    padding: 0px 0px 0px 7px;
    padding-left: 4px;
    border: 1px solid #CCC;
    margin-top: 3px;
    border-color: white;    
    margin-left: 2px;
    display: inline-block;   
    outline: medium none;

}
.form-container button {
    background:center;
    background-position: right center;
   background-color: transparent;
    border: medium none;
    margin-right: 0px;
    padding-top: 5px;
    cursor: pointer;
}
.search-line{

margin-bottom: -5px;

}
.first
{
	background:url(../img/slide-bg-complexity.jpg) no-repeat center center fixed ;
	color: white;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:500;
    padding-top: 70px
	
}
.first-par
{
	

}

.nav-side {
    display: inline-block;
    padding-top: 10px;
    color: #a0a0a0;
    padding-left: 70px;
    float: right;
    margin-top: -81px;
    
}
.navs{
	margin-left: -43px;
}
.navs li{
	border-radius: 3px;
    width: 13px;
    height: 13px;
    background-color: #e5e5e5;;
    display: inline-block;
    list-style: none;
    text-align: center;
    float: left;
    margin-left: 9px;
}
li.selected {
    background-color: #3399CC;
    color: #3399CC;
}
.navs > a > li:hover{
    background-color: #2E95CA;
}

.rounded-cubes {
    border-radius: 8px;
    display: inline-block;
    opacity: 0.85;
    padding: 10px 10px;
    width: 269px;
    cursor: pointer;
}
.rounded-cubes:hover {
    opacity: 1;
}
.cubes{
	color:white;
        margin-left: -44px;
	
}
.rounded-cubes > section > a {
    color:#FFF;
 
    font-size:14px;
}
.cube-purple { background:#fb429c; }
.cube-green { background:#5eb433; }
.cube-orange { background:#ff7519; }
.cube-text {
    padding: 10px;
    margin-top: 0px;
    
}
#link-icon{
    margin-bottom: -8px;
}
.second{
	background: #46a2c7;
	background-size: cover;
	color: white;
	height: 325px;
    text-align: center;

}
.second-list{
        display: inline-flex;
}


.second-list li{
	display: inline-block;
    width: 150px;
    height:150px;
    
    vertical-align: middle;
    
}
.second-list li a{
    color: white;
}
.data{
    height:50px;
    background-image: url("../img/solution_icon_smart-money.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.data:hover{
    background-image: url("../img/solution_icon_smart-money_hover.png");
    color: #79D2FF;
    
}
#data-figcaption,#machine-figcaption,#flag-figcaption,#cloud-figcaption,#managed-figcaption,#social-figcaption{
    margin-top: 50px;
    text-align: center;

}
.flag{
    height:50px;
    margin-left: 15px;
    background-image: url("../img/solution_icon_optimize-efficnt.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.flag:hover{
    background-image: url("../img/solution_icon_optimize-efficnt_hover.png");
    color: #79D2FF;
}
.machine{
    height:50px;
    background-image: url("../img/solution_icon_personal.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.machine:hover{
    background-image: url("../img/solution_icon_personal_hover.png");
    color: #79D2FF;
}
.cloud{
    height:50px;
    background-image: url("../img/solution_icon_biz-transform.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.cloud:hover{
     background-image: url("../img/solution_icon_biz-transform_hover.png");
     color: #79D2FF;
}
.managed{
    height:50px;
    background-image: url("../img/solution_icon_biz-analitics.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.managed:hover{
    background-image: url("../img/solution_icon_biz-analitics_hover.png");
    color: #79D2FF;
}
.social{
    height:50px;
    background-image: url("../img/solution_icon_diti-cx.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.social:hover{
    background-image: url("../img/solution_icon_diti-cx_hover.png");
    color: #79D2FF;
}
.containetr-second{
	width: 940px;
	margin: 0px auto;
} 
.blue-button{
	background-color: #63B8EE;
	background: linear-gradient(top,  #3196C9,  #1A8CC6);
	background: -ms-linear-gradient(top,  #3196C9,  #1A8CC6);
	background: -webkit-gradient(linear, left top, left bottom, from(#3196C9), to(#1A8CC6));
	background: -moz-linear-gradient(top,  #3196C9,  #1A8CC6);
	height: 36px;
	width: 175px;
	padding: 10px;
	border: none;
	text-align: left;
	border-radius: 7px;
	color: white;

}
.third{
    background: url(../img/news-and-events-bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    height:360px;
    color: white;
}
.third>.wrapper>h1{
    text-align: center;
}

#events-title {
    padding-left: 160px;
    padding-top: 30px;
}

.third-list{
    padding: 0;
    margin: 0 auto;
}

.third-list > li {
    display: inline-block;
    width: 280px;
    padding: 10px;
    height: 150px;
}
.third-list > li > a > section >h2{
    color: white;
}
.third-list > li > a > section > article {
    border-radius:4px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px; 
    margin-bottom: 10px;
    height: 89px;
}

.third-list > li > a > section > article:hover{
    background-color: white;
}

.third-list > li > a > section > article > p {
    margin-top: -2px;
    color: black;
    padding-left: 60px;
} 

.all-link {
    color: #FFF;
    outline: 0;
    text-decoration: none;
}

span.day-container {
    display:block;
    background:#46a2c7;
    border-bottom: 1px dashed #FFF;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 52px;
    height: 48px;
    color: white;
}

span.month-container{
    display:block;
    background:#46a2c7;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size:26px;
    width: 52px;
    color: white;
} 

h1.news {
    width: 65px;
    margin: 0 auto;
    padding: 0;
    float: left;
    font-weight: 400;
    text-align: center;
}

.all{
    color:#FFF;
   
}

@media{
    .all :hover{
    color:black;   
}



.all-news:before{
    content: url("../img/eventListIconNews.png");
        display: inline;  
}

.all-news:hover:before {
  content: url("../img/eventListIconNews_hover.png"); }
}

.all-events:before{
     content: url("../img/eventListIconEvents.png");
        display: inline; 
}

.all-events:hover:before {
  content: url("../img/eventListIconEvents_hover.png"); }
}

}
.success-stories-section{
    background-color: #ECECEC;
    width: 100%;
    height: 500px;
    text-align: center;
    background-size: cover;
}

.success-stories-section > div > ul{

    float: left;
    padding: 0;
}

.success-stories-section > div > h1{
    color: #565656;
    padding-bottom: 0;
    text-align: center;
}

.success-stories-list{
    display: inline-flex;
}
.success-stories-list > li{
    display: inline-block;
    width: 38%;
    float: left;
    margin: 4px;
    padding: 2px;
    font-size:12px;
}

.success-stories-right{
    width: 22% !important;
}

.success-stories-middle{
    margin-top: 16.5px !important;
}

blockquote{
    background-color: white;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    height: 180px;
}

blockquote > p{
    font-size: 15px;
    height: 90px;
    padding: 15px;
    border-bottom: 1px solid #DDDDDD;
    color: #565656;
    text-align: left;
}

blockquote > span{
    background: url(../img/3mob_w108px_X_h95px.jpg) no-repeat 50% 50%;
}

.success-stories-left > blockquote > p, .success-stories-right > blockquote > p{
    font-size: 17px;
    line-height: 1.5;
}

.person-img{
    float: left;
    padding: 10px;
    height: 100px;
    width: 100px;
}

.quote{
    float: left;
    padding: 5px;
    height: 20px;
    width: 27px;
    padding-top: 0;
}

.per-details{
    text-align: left;
    padding-left: 10px;
    display: inline-block;
    float: left;
}

.per-details > p > a{
    color: #50AED0;
}

.per-details > p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 2px;
}

.per-logo{
    float: right;
}

.company-logo {
    display: inline-block;
    width: 31%;
    margin: 0px 5px 0 0;
    background: #FFF;
    border-radius: 3px;
    text-align: center;
}

.right-company-logo{
    width: 46%;
}

.company-logo > img{
    width: 100%;
    height:95px;
}

.companies{
    margin-top: 5px;
    width: 102%;
}

.success-stories-blockquote:before{
     background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 351px; /*26.3%; */
    height: 0;
    transition: height 0.4s ease-in;
    display: block;
    position: absolute;
}

.right-blockquote:before{
    width: 203px !important; 
}

.success-stories-blockquote:hover:before{
    height: 180px;
}

.company-logo:before{
     background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 110px; /*8.3%;*/
    height: 0;
    transition: height 0.4s ease-in;
    display: block;
    position: absolute;
}

.company-logo:hover:before{
    height: 98px;
}

.right-company-logo:before{
    width: 96px !important; /*7.1% !important;*/
}

.scroll-to-top{
    position: relative;
    top: 43px;
    float: left;
    left: 15%;
}
footer{
    position: relative;
    padding-top: 0; 
    background: linear-gradient(80deg, #222221, #313131, #222221);

}
.footer-section{
    width: 75%;
    min-width: 700px;
    margin: 0 auto;
    color: #EEEEEE;
    height: 350px;
}
.footer-links {
    position: relative;
    width: 70%;
    float: left;
  }
.footer-links p{
    position: absolute;
    float: left;
    font-size: 10.5px;
    bottom: -23%;
    margin-left: 3%;
    color: #9E9E9E;
}
.footer-links p a{
    color:#9E9E9E;
}
.footer-links p a:hover{
    color: #EEEEEE;
}
.links-column {
    width: 33%;
    box-sizing: border-box;
    padding: 0 3%;
    float: left;
}
.links-column ul{
    list-style: none;
    padding-left: 0px;
    width: 120%;
}
.links-column li{
    font-size: 14px;
    margin-bottom: 4%;
}
.links-column a{
    color: #EEEEEE;
}
.links-column a:hover{
    text-decoration: underline;
}
.links-column h5{
    font-weight: lighter;
}
.blogs{
    width: 29%;
    float: left;
    background-color: rgba(255, 255, 255, 0.15);
    height: 100%; 
    margin-left: -5%;
}
.blogs h4{
    color:#4EA7D3;
    position: relative;
    margin-left: 12%;
}
.blogs h4:first-child{
    text-align: center;
    margin-right: 40px;
}
.blogs hr{

    margin: 9% 14%;
    margin-bottom: 0px;
    border-width: 1px;
}
.date {
    float: left;
    padding: 0.3em;
}
.date > span {
    text-align: center;
    display: block; 
    padding-top: 5%;
    font-size: 25px;
    font-weight: lighter;
}
.date > span:first-child {
    font-size: 55px;
    padding-top: 0px;
    font-weight: bold;
    margin: -0.2em 0.2em;
}
.blog-post{
    padding-left: 5%;
}
.blog-post h4{
    margin-right: 10%;
    margin-left: 5%;
    font-weight: lighter;
    color: #EEEEEE;
    line-height: 27px;
}
.blog-post  a{
    color: #EEEEEE;
}
.blog-post  a:hover{
    color:#9E9E9E;
}
.blog-post  h4:hover{
    color:#9E9E9E;
}
.subscribe-form button{
    border-style: none;
    color: #EEEEEE;
    background: linear-gradient(80deg, #4EA7D3, #3EA0C6,#4EA7D3);
    cursor: pointer;
    font-size: 13px;
    font-weight: lighter;
    width: 25%;
    border-radius: 4px;
    border-color:#3EA0C6;
    height: 31px;
    margin-left:-6px; 
    padding-top: 5px;
    margin-top:-1px;;
}
.subscribe-form button:hover{
    background:linear-gradient(80deg, #3EA0C6, #2b8cb8, #3EA0C6);;
}
.subscribe-form input{
    width: 52%;
    height:30px;
    padding: 0px;
    border-radius: 4px;
    margin-left: 14%;
    float: left;
    border: none;
}
.subscribe-form{
    padding-bottom:17%; 
} 
 .external-links{
    position: relative;
    margin-left: 14%;
}
 #you-tube-icon:before{
    content: url("../img/socialMenuIcon-youtube.png");
    display: inline;  
}
 #you-tube-icon:hover:before{
    content: url("../img/socialMenuIcon-youtube_hover.png");
    display: inline;  
}
#twitter-icon:before{
    content: url("../img/socialMenuIcon-twitter.png");
    display: inline;  
}
#twitter-icon:hover:before{
    content: url("../img/socialMenuIcon-twitter_hover.png");
    display: inline;  
}
#linked-in-icon:before{
    content: url("../img/socialMenuIcon-linkdin.png");
    display: inline;  
}
#linked-in-icon:hover:before{
    content: url("../img/socialMenuIcon-linkdin_hover.png");
    display: inline;  
}
.mobile-navigation {
    display: none;
}

input[type=checkbox] {
    display:none;
}

.mobile-footer-list {
    display: none;
}

@media all and (max-width: 1004px) and (min-width: 768px) {

.wrapper{
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
  }
.logo > img{
    width: 95px;
    height: 32px;
  }
.logo{
    padding: 30px 5px;

  }
nav{
    font-size: 11px;
}
.nav-side > select, .nav-side > a{
        font-size: 12px;
}
.search-box{
        border: none;
        border-radius: 7px;
        margin: 0;
        height: 14px;
        display: inline-block;
        position: relative;
        
}
.rounded-cubes{
        width: 200px;
        cursor: pointer;
        margin-right: 20px;
        padding: 10px 15px;
}
.rounded-cubes h2{
        font-size: 18px;
}
.cube-purple h2{
        margin-bottom: 60px;
}
.cube-green h2{
        margin-bottom: 20px;
}
.cube-orange h2{
        margin-bottom: 60px;
}
.rounded-cubes a{
        float: bottom;
}
.comverse-events{
        width: 230px;
}
.events-box{
        width: 225px;
}
.events-box > h2{
        font-size: 20px;
}
.success-stories-left > blockquote > p, .success-stories-right > blockquote > p{
        font-size: 14px;
}

.per-details{
        font-size: 9px;
}

blockquote > p{
        font-size: 13px;
}

.success-stories-blockquote:before{
        width: 277px;
}

.right-blockquote:before {
        width: 161px !important;
}

.company-logo{
        width: 30%;
}

.company-logo:before{
        width: 85px;
}

.right-company-logo{
        width: 46%;
}

.right-company-logo:before{
        width: 75px !important;
}

.per-logo > img{
        width: 78px;
}
footer{
        font-size: 12px;
}
.blogs{
        width:201px;
}
.f-header{
        font-size: 14px;
}
.links-column{
    margin-right: 15px;
}
.blogsheader{
        font-size: 1.2em;
}
}
@media (max-width: 561px) {
    .solutions-list{
        width: 25%;
}

.second-section > div > ul > li{
        display: inline-block;
        padding-left: 16px;
        padding-right: 0;
        margin: 3px;
        margin-bottom: 50px;
}
}
@media all and (max-width:768px) {
    .wrapper{
        width: auto;
        overflow: hidden;
    }
    nav, .nav-side, .form-container{
        display: none;
    }
    .logo{
        float: none;
        margin: auto;
        display: block;
        margin-top:25px;
    }
    .logo > img {
        width: 100px;
        margin-top: 10px;
        float: none;
        margin: 0 auto;
        display: inherit;
    }
    .mobile-navigation{
        display: block;
    }

    label.mobile-nav {
        position: absolute;
        top: 20px;
        left: 10px;
        margin: 5px;
        padding:5px;
    }

    label:hover {
        cursor: pointer;
    }

    label {
        display: block;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        text-decoration: none;
        background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%);
    }

    .burger-icon {
        display: block;
        background-color: #a0a0a0;
        width: 30px;
        height: 3px;
        margin: 3px auto;
    }

    .burger-icon:not(:first-child) {
        margin-top: 2px;
    }

    .main-nav-mobile {
        display: none;
        list-style: none;
        text-transform: uppercase;
        font: 1.2rem "Open Sans";
        position: absolute;
        left: 0;
        top:0;
        z-index: 1;
        width: 100%;
        padding: 0;

    }

    .mobile-search-textbox{
        width: 90%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 10px;
        height: 20px;
        border-radius: 7px;
        border: 1px solid #D2D2D2;
        outline: none;
    }
    header {
        height: 108px;
    }

    .main-nav-mobile ul {
        list-style: none;
        background: white;
        padding: 0;
    }

    .main-nav-mobile li {
        color: #333333;
    }

    .main-nav-mobile label {
        width: 100%;
        border-radius: 0;
        background : #FFF;
    }

    .main-nav-mobile li a, .main-nav-mobile label {
        background-color: white;
        margin: 0;
        padding: 0 20px;
        height: 2rem;
        text-transform: uppercase;
        display: block;
        text-align: left;
        width: 100%;
        color: #585951;
        border-bottom: 1px solid #dbdbdb;
        border-top: 1px solid #fff;
        font: 14px Arial;
        text-decoration: none;
        line-height: 2.1rem;
    }

    input[type="checkbox"]:checked ~ ul {
        display: block;
        top:56px;
    }

    input[type="checkbox"]:checked ~ input{
        display: block;
    }
    .mobile-search{
        float: right;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 20px;
        right: 10px;
        margin: 5px;
        padding: 6px 3px 0px 3px;
        display: inline-block;
        background: url(../img/searchBtnMobile.png) no-repeat center;
        background-color: #e5e5e5;
        color: transparent;
    }
    .first{
        height: 960px;
    }
    .rounded-cubes{
        width: 100%;
        border-radius: 0;
        opacity: 1;
        margin: 0;
        margin-bottom: 10px;
        display: block;
    }
    .first-par{
        background-color: #2290C8;
        padding: 5px;
        margin-bottom: 10px;
    }
    .tags{
        margin-bottom: 10px;
    }
    .tags> a > li{
        width: 20px;
        height: 20px;
        font-size: 14px;
        text-align: center;
        color: #585951;
    }
    .solutions-list{
        width: 20%;
    }
    .second > div > ul{
        display: inline-block;
    }
    .second > div > ul > li{
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
        margin: 35px;
    }
    .solutions-list{
        padding-top: 40px;
    }
    .third{
        height: 790px;
    }
    .third-list{
        display: block;
    }
    .comverse-events{
        width:100%;
        margin-bottom: 35px;
    }
    .events-box{
        width: auto;
    }
    .third > div > h1{
        padding-bottom: 0;
     }
     .news, .events{
        margin-right: 0;
     }
     .right-company-logo{
        width: 48%;
     }

     .success-stories-list{
        display: block;
        float: none !important;
     }

     .success-stories-section{
        height: 826px;
     }

     .success-stories-list > li{
        width: 330px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
     }

     .success-stories-right{
        display: none !important;
     }
     .scroll-to-top{
        top:50px;
        left: 6%;
        float: none;
     }

     .success-stories-blockquote:before{
        width: 330px;
     }

     .company-logo:before{
        width: 104px;
     }
     .mobile-footer-list {
        display: block;
        background-color: #2C2C2C;
        margin-bottom: 16px;
        margin: 0;
        list-style: none;
        padding-left: 0;
        font-size: 1.2rem;
        width: 100%;
    }



    .mobile-footer-list li {
        color:white;
        padding-left: 20px;
        border-bottom: 1px solid black;
        padding: 10px 0 10px 10px;
    }

    .mobile-footer-list li:hover {
        background-color: #cccccc;
    }

    .mobile-footer-list li > a {
        color: #FFF;
        text-decoration: none;
        outline: none;
    }

    footer{
        height: auto;
    }
    .footer-links,.blogs{
        display: none;
     }
     .social-icons{
        position: initial;
        float: right;
    }
}