body{

	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	margin: 0 auto;
}
h1{
    font-weight: 100;
    font-size: 38px;
    line-height: 1.1em;
    margin-bottom: 0.2em;
}
.comverse-header{
    height: 80px;
    width: 100%;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
}
.header{
	margin-left: 140px;

}
.tags > li > a:hover{
	color:#e5e5e5;
}
a{
	text-decoration: none;
	color: black;
}
.nav-side > select{
	border: none;
}
nav ul{
	list-style-type: none;
	display: inline-flex;
	
}
.tags > li 
{

    margin: 0px 10px 0px 10px;
}
figcaption{
	color: white;

}
figure{
    width: 92px;
}
.tags > li > a{

	font-size: 14px;
}
.headernavigator
{
	display: inline;
}
.form-container{

    position: absolute;
    margin-top:9px;
    margin-left: 1%;
    display: inline-block;
    float: right;
    padding-left: 0px;
    padding-right:-10px;
    border-radius: 5px;
    border: 1px solid;
    border-color:  #CCC;
}
.form-container input{
       
    width: 93px;
    padding: 0px 0px 0px 7px;
    padding-left: 4px;
    border: 1px solid #CCC;
    margin-top: 3px;
    border-color: white;    
    margin-left: 2px;
    display: inline-block;   
    outline: medium none;

}
.form-container button {
    background:center;
    background-position: right center;
   background-color: transparent;
    border: medium none;
    margin-right: 0px;
    padding-top: 5px;
    cursor: pointer;
}
.search-line{

margin-bottom: -5px;

}
.first
{
	background:url(../img/slide-bg-complexity.jpg) no-repeat center center fixed ;
	color: white;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:500;
    padding-top: 70px
	
}
.first-par
{
	margin: 0px 0px 0px 190px;

}

.nav-side {
    display: inline-block;
    padding-top: 10px;
    color: #a0a0a0;
    padding-left: 70px;
    float: right;
    margin-top: -81px;
    margin-right: 125px;

}
.navs{
	margin-left: -43px;
}
.navs li{
	border-radius: 3px;
    width: 13px;
    height: 13px;
    background-color: #e5e5e5;;
    display: inline-block;
    list-style: none;
    text-align: center;
    float: left;
    margin-left: 9px;
}
li.selected {
    background-color: #3399CC;
    color: #3399CC;
}

.rounded-cubes {
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    opacity: 0.85;
    padding: 10px 10px;
    width: 269px;
    cursor: pointer;
    margin-left: 0px;
}
.rounded-cubes:hover {
    opacity: 1;
}
.cubes{
	color:white;
	margin-left: 150px;
}
.rounded-cubes > section > a {
    color:#FFF;
 
    font-size:14px;
}
.cube-purple { background:#fb429c; }
.cube-green { background:#5eb433; }
.cube-orange { background:#ff7519; }
.cube-text {
    padding: 10px;
    margin-top: 0px;
    height: 130px;
}
#link-icon{
    margin-bottom: -8px;
}
.second{
	background: #46a2c7;
	background-size: cover;
	color: white;
	height: 325px;
    text-align: center;

}

.second-list{
    margin-right: 94px;
    list-style: none;

}
.second-list li{
	display: inline-block;
    width: 150px;
    height:150px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.second-list li a{
    color: white;
}
.data{
    height:50px;
    background-image: url("../img/solution_icon_smart-money.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.data:hover{
    background-image: url("../img/solution_icon_smart-money_hover.png");
    color: #79D2FF;
    
}
#data-figcaption,#machine-figcaption,#flag-figcaption,#cloud-figcaption,#managed-figcaption,#social-figcaption{
    margin-top: 50px;
    text-align: center;

}
.flag{
    height:50px;
    margin-left: 15px;
    background-image: url("../img/solution_icon_optimize-efficnt.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.flag:hover{
    background-image: url("../img/solution_icon_optimize-efficnt_hover.png");
    color: #79D2FF;
}
.machine{
    height:50px;
    background-image: url("../img/solution_icon_personal.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.machine:hover{
    background-image: url("../img/solution_icon_personal_hover.png");
    color: #79D2FF;
}
.cloud{
    height:50px;
    background-image: url("../img/solution_icon_biz-transform.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.cloud:hover{
     background-image: url("../img/solution_icon_biz-transform_hover.png");
     color: #79D2FF;
}
.managed{
    height:50px;
    background-image: url("../img/solution_icon_biz-analitics.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.managed:hover{
    background-image: url("../img/solution_icon_biz-analitics_hover.png");
    color: #79D2FF;
}
.social{
    height:50px;
    background-image: url("../img/solution_icon_diti-cx.png");
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    padding-top: 20px;
    background-position-x: 50%;
    background-position-y: 50%;
}
.social:hover{
    background-image: url("../img/solution_icon_diti-cx_hover.png");
    color: #79D2FF;
}
.containetr-second{
	width: 940px;
	margin: 0px auto;
} 
.blue-button{
	background-color: #63B8EE;
	background: linear-gradient(top,  #3196C9,  #1A8CC6);
	background: -ms-linear-gradient(top,  #3196C9,  #1A8CC6);
	background: -webkit-gradient(linear, left top, left bottom, from(#3196C9), to(#1A8CC6));
	background: -moz-linear-gradient(top,  #3196C9,  #1A8CC6);
	height: 36px;
	width: 160px;
	padding: 10px;
	border: none;
	text-align: left;
	border-radius: 7px;
	color: white;

}
.third{
    background: url(../img/news-and-events-bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    height:360px;
    color: white;
}
.third >h1{
    text-align: center;
}
#events-title {
    padding-left: 160px;
    padding-top: 30px;
}

.third-list{
    padding: 0;
    margin: 0 auto;
    margin-left: 200px;
}

.third-list > li {
    display: inline-block;
    width: 280px;
    padding: 10px;
    height: 150px;
}
.third-list > li > a > section >h2{
    color: white;
}
.third-list > li > a > section > article {
    border-radius:4px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px; 
    margin-bottom: 10px;
    height: 89px;
}

.third-list > li > a > section > article:hover{
    background-color: white;
}

.third-list > li > a > section > article > p {
    margin-top: -2px;
    color: black;
    padding-left: 60px;
} 

.all-link {
    color: #FFF;
    outline: 0;
    text-decoration: none;
}

span.day-container {
    display:block;
    background:#46a2c7;
    border-bottom: 1px dashed #FFF;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 52px;
    height: 48px;
    color: white;
}

span.month-container{
    display:block;
    background:#46a2c7;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size:26px;
    width: 52px;
    color: white;
} 

h1.news {
    width: 65px;
    margin: 0 auto;
    padding: 0;
    float: left;
    font-weight: 400;
    text-align: center;
}

.all{
    color:#FFF;
   
}

@media{
    .all :hover{
    color:black;   
}



.all-news:before{
    content: url("../img/eventListIconNews.png");
        display: inline;  
}

.all-news:hover:before {
  content: url("../img/eventListIconNews_hover.png"); }
}

.all-events:before{
     content: url("../img/eventListIconEvents.png");
        display: inline; 
}

.all-events:hover:before {
  content: url("../img/eventListIconEvents_hover.png"); }


.success-stories-btn{
    color: white;
    background-color: #2290C8;
    width: 175px;
    padding: 10px;
    border-radius: 7px;
    border: none;
    text-align: left;
}
.success-stories-btn:hover{
    background-color: #63B8EE;
    cursor: pointer;
}
.success-stories-section > div > h1{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2.4em;
}
.success-stories-section{
    background-color: #ECECEC;
    width: 100%;
    height: 500px;
    text-align: center;
    background-size: cover;
}

.success-stories-section > div > ul{

    float: left;
    padding: 0;
}

.success-stories-section > div > h1{
    color: #565656;
    padding-bottom: 0;
}


.success-stories-list > li{
    display: inline-block;
    width: 38%;
    float: left;
    margin: 4px;
    padding: 2px;
    font-size:12px;
}

.success-stories-right{
    width: 22% !important;
}

.success-stories-middle{
    margin-top: 16.5px !important;
}

blockquote{
    background-color: white;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    height: 180px;
}

blockquote > p{
    font-size: 15px;
    height: 90px;
    padding: 15px;
    border-bottom: 1px solid #DDDDDD;
    color: #565656;
    text-align: left;
}

blockquote > span{
    background: url(../img/3mob_w108px_X_h95px.jpg) no-repeat 50% 50%;
}

.success-stories-left > blockquote > p, .success-stories-right > blockquote > p{
    font-size: 17px;
    line-height: 1.5;
}

.person-img{
    float: left;
    padding: 10px;
    height: 100px;
    width: 100px;
}

.quote{
    float: left;
    padding: 5px;
    height: 20px;
    width: 27px;
    padding-top: 0;
}

.per-details{
    text-align: left;
    padding-left: 10px;
    display: inline-block;
    float: left;
}

.per-details > p > a{
    color: #50AED0;
}

.per-details > p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 2px;
}

.per-logo{
    float: right;
}

.company-logo {
    display: inline-block;
    width: 31%;
    margin: 0px 5px 0 0;
    background: #FFF;
    border-radius: 3px;
    text-align: center;
}

.right-company-logo{
    width: 46%;
}

.company-logo > img{
    width: 100%;
    height:95px;
}

.companies{
    margin-top: 5px;
    width: 102%;
}

.success-stories-blockquote:before{
     background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 351px; /*26.3%; */
    height: 0;
    transition: height 0.4s ease-in;
    display: block;
    position: absolute;
}

.right-blockquote:before{
    width: 203px !important; 
}

.success-stories-blockquote:hover:before{
    height: 180px;
}

.company-logo:before{
     background: #3398CC url("../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg") center center no-repeat;
    content: "";
    width: 110px; /*8.3%;*/
    height: 0;
    transition: height 0.4s ease-in;
    display: block;
    position: absolute;
}

.company-logo:hover:before{
    height: 98px;
}

.right-company-logo:before{
    width: 96px !important; /*7.1% !important;*/
}

.scroll-to-top{
    position: relative;
    top: 33px;
    float: left;
    left: 13%;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    height: 100%;
}
.wrapper{
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
  }
  .wrapper{
        width: auto;
        overflow: hidden;
    }


footer{
    position: relative;
    padding-top: 0; 
    background: linear-gradient(80deg, #222221, #313131, #222221);

}
.footer-section{
    width: 75%;
    min-width: 700px;
    margin: 0 auto;
    color: #EEEEEE;
    height: 350px;
}
.footer-links {
    position: relative;
    width: 70%;
    float: left;
  }
.footer-links p{
    position: absolute;
    float: left;
    font-size: 10.5px;
    bottom: -23%;
    margin-left: 3%;
    color: #9E9E9E;
}
.footer-links p a{
    color:#9E9E9E;
}
.footer-links p a:hover{
    color: #EEEEEE;
}
.links-column {
    width: 33%;
    box-sizing: border-box;
    padding: 0 3%;
    float: left;
}
.links-column ul{
    list-style: none;
    padding-left: 0px;
    width: 120%;
}
.links-column li{
    font-size: 14px;
    margin-bottom: 4%;
}
.links-column a{
    color: #EEEEEE;
}
.links-column a:hover{
    text-decoration: underline;
}
.links-column h5{
    font-weight: lighter;
}
.blogs{
    width: 29%;
    float: left;
    background-color: rgba(255, 255, 255, 0.15);
    height: 100%; 
    margin-left: -5%;
}
.blogs h4{
    color:#4EA7D3;
    position: relative;
    margin-left: 12%;
}
.blogs h4:first-child{
    text-align: center;
    margin-right: 40px;
}
.blogs hr{

    margin: 9% 14%;
    margin-bottom: 0px;
    border-width: 1px;
}
.date {
    float: left;
    padding: 0.3em;
}
.date > span {
    text-align: center;
    display: block; 
    padding-top: 5%;
    font-size: 25px;
    font-weight: lighter;
}
.date > span:first-child {
    font-size: 55px;
    padding-top: 0px;
    font-weight: bold;
    margin: -0.2em 0.2em;
}
.blog-post{
    padding-left: 5%;
}
.blog-post h4{
    margin-right: 10%;
    margin-left: 5%;
    font-weight: lighter;
    color: #EEEEEE;
    line-height: 27px;
}
.blog-post  a{
    color: #EEEEEE;
}
.blog-post  a:hover{
    color:#9E9E9E;
}
.blog-post  h4:hover{
    color:#9E9E9E;
}
.subscribe-form button{
    border-style: none;
    color: #EEEEEE;
    background: linear-gradient(80deg, #4EA7D3, #3EA0C6,#4EA7D3);
    cursor: pointer;
    font-size: 13px;
    font-weight: lighter;
    width: 25%;
    border-radius: 4px;
    border-color:#3EA0C6;
    height: 31px;
    margin-left:-6px; 
    padding-top: 5px;
    margin-top:-1px;;
}
.subscribe-form button:hover{
    background:linear-gradient(80deg, #3EA0C6, #2b8cb8, #3EA0C6);;
}
.subscribe-form input{
    width: 52%;
    height:30px;
    padding: 0px;
    border-radius: 4px;
    margin-left: 14%;
    float: left;
    border: none;
}
.subscribe-form{
    padding-bottom:17%; 
} 
 .external-links{
    position: relative;
    margin-left: 14%;
}
 #you-tube-icon:before{
    content: url("../img/socialMenuIcon-youtube.png");
    display: inline;  
}
 #you-tube-icon:hover:before{
    content: url("../img/socialMenuIcon-youtube_hover.png");
    display: inline;  
}
#twitter-icon:before{
    content: url("../img/socialMenuIcon-twitter.png");
    display: inline;  
}
#twitter-icon:hover:before{
    content: url("../img/socialMenuIcon-twitter_hover.png");
    display: inline;  
}
#linked-in-icon:before{
    content: url("../img/socialMenuIcon-linkdin.png");
    display: inline;  
}
#linked-in-icon:hover:before{
    content: url("../img/socialMenuIcon-linkdin_hover.png");
    display: inline;  
}
